@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,700;1,500&display=swap");


body{
    font-family: Asap, sans-serif;
    margin:0px;
    padding:0px;
    background-color: #FFFFFF;
    color: #505050;

}